<a href="https://colab.research.google.com/github/akki823/basic-pyspark-concept/blob/main/Pizza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**My dataset** --
This pizza sales dataset make up 9 relevant features: 1- Order_id: Unique identifier for each order placed by a table, 2- Order_details_id: Unique identifier for each pizza placed within each order, 3- Pizza_id: Unique key identifier that ties the pizza ordered to its details, like size and price 4- Quantity: Quantity ordered for each pizza of the same type and size 5-Order_date: Date the order was placed, 6- Order_time: Time the order was placed ,7- Unit_price: Price of the pizza in USD,Pizza_size: Size of the pizza (Small, Medium, Large, X Large, or XX Large), 8- Pizza_ingredients: ingredients used in the pizza as shown in the menu,9- Pizza_name: Name of the pizza as shown in the menu

**Clean Pizza Sales dataset**

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=2dc8aa6535406bc1dee6fa4890bd35d9f7c2fba4352d0cb3b0f8d98791e3047b
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pizza").getOrCreate()
spark

In [ ]:
df = spark.read.csv("/content/Data Model - Pizza Sales.csv", header=True, inferSchema=True)

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+
|order_details_id|order_id|      pizza_id|quantity|order_date|         order_time|unit_price|pizza_size|pizza_category|   pizza_ingredients|          pizza_name|
+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+
|               1|       1|    hawaiian_m|       1|01-01-2015|2024-09-27 11:38:36|     13.25|         M|       Classic|Sliced Ham, Pinea...|  The Hawaiian Pizza|
|               2|       2| classic_dlx_m|       1|01-01-2015|2024-09-27 11:57:40|      16.0|         M|       Classic|Pepperoni, Mushro...|The Classic Delux...|
|               3|       2| five_cheese_l|       1|01-01-2015|2024-09-27 11:57:40|      18.5|         L|        Veggie|Mozzarella Cheese...|The Five Cheese P...|
|               4|       2|   ital_supr_l|       1|01-01-2015|2024-09-27 11:57:40|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|
|               5|       2|    mexicana_m|       1|01-01-2015|2024-09-27 11:57:40|      16.0|         M|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|
|               6|       2|    thai_ckn_l|       1|01-01-2015|2024-09-27 11:57:40|     20.75|         L|       Chicken|Chicken, Pineappl...|The Thai Chicken ...|
|               7|       3|   ital_supr_m|       1|01-01-2015|2024-09-27 12:12:28|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|               8|       3|  prsc_argla_l|       1|01-01-2015|2024-09-27 12:12:28|     20.75|         L|       Supreme|Prosciutto di San...|The Prosciutto an...|
|               9|       4|   ital_supr_m|       1|01-01-2015|2024-09-27 12:16:31|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              10|       5|   ital_supr_m|       1|01-01-2015|2024-09-27 12:21:30|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              11|       6|     bbq_ckn_s|       1|01-01-2015|2024-09-27 12:29:36|     12.75|         S|       Chicken|Barbecued Chicken...|The Barbecue Chic...|
|              12|       6|   the_greek_s|       1|01-01-2015|2024-09-27 12:29:36|      12.0|         S|       Classic|Kalamata Olives, ...|     The Greek Pizza|
|              13|       7|spinach_supr_s|       1|01-01-2015|2024-09-27 12:50:37|      12.5|         S|       Supreme|Spinach, Red Onio...|The Spinach Supre...|
|              14|       8|spinach_supr_s|       1|01-01-2015|2024-09-27 12:51:37|      12.5|         S|       Supreme|Spinach, Red Onio...|The Spinach Supre...|
|              15|       9| classic_dlx_s|       1|01-01-2015|2024-09-27 12:52:01|      12.0|         S|       Classic|Pepperoni, Mushro...|The Classic Delux...|
|              16|       9|green_garden_s|       1|01-01-2015|2024-09-27 12:52:01|      12.0|         S|        Veggie|Spinach, Mushroom...|The Green Garden ...|
|              17|       9| ital_cpcllo_l|       1|01-01-2015|2024-09-27 12:52:01|      20.5|         L|       Classic|Capocollo, Red Pe...|The Italian Capoc...|
|              18|       9|   ital_supr_l|       1|01-01-2015|2024-09-27 12:52:01|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              19|       9|   ital_supr_s|       1|01-01-2015|2024-09-27 12:52:01|      12.5|         S|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              20|       9|    mexicana_s|       1|01-01-2015|2024-09-27 12:52:01|      12.0|         S|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|
+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- order_details_id: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- pizza_id: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_time: timestamp (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- pizza_size: string (nullable = true)
 |-- pizza_category: string (nullable = true)
 |-- pizza_ingredients: string (nullable = true)
 |-- pizza_name: string (nullable = true)

Checking for null values ​​in my dataset, no null values in my data

In [ ]:
from pyspark.sql.functions import count, when , col #count function counts the number ,when function is used to create a conditional
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show() #col function is used to refer to a column in the DataFrame

+----------------+--------+--------+--------+----------+----------+----------+----------+--------------+-----------------+----------+
|order_details_id|order_id|pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|pizza_ingredients|pizza_name|
+----------------+--------+--------+--------+----------+----------+----------+----------+--------------+-----------------+----------+
|               0|       0|       0|       0|         0|         0|         0|         0|             0|                0|         0|
+----------------+--------+--------+--------+----------+----------+----------+----------+--------------+-----------------+----------+

Checking for Duplicates in my dataset



**groupBy** function is used to group the rows of a DataFrame based on the values of one or more columns. Once the rows are grouped, you can perform aggregate functions

In [ ]:
df_duplicates = df.groupBy(df.columns).count()

In [ ]:
df_duplicates.show()

+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+-----+
|order_details_id|order_id|      pizza_id|quantity|order_date|         order_time|unit_price|pizza_size|pizza_category|   pizza_ingredients|          pizza_name|count|
+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+-----+
|             101|      42|    big_meat_s|       1|01-01-2015|2024-09-27 17:28:09|      12.0|         S|       Classic|Bacon, Pepperoni,...|  The Big Meat Pizza|    1|
|             151|      65| pep_msh_pep_s|       1|01-01-2015|2024-09-27 21:16:00|      11.0|         S|       Classic|Pepperoni, Mushro...|The Pepperoni, Mu...|    1|
|             216|      92|   ital_supr_l|       1|02-01-2015|2024-09-27 15:17:02|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|    1|
|             297|     124|   the_greek_s|       1|02-01-2015|2024-09-27 20:12:34|      12.0|         S|       Classic|Kalamata Olives, ...|     The Greek Pizza|    1|
|             315|     133|   the_greek_s|       1|02-01-2015|2024-09-27 22:00:17|      12.0|         S|       Classic|Kalamata Olives, ...|     The Greek Pizza|    1|
|             337|     143|    mexicana_m|       1|03-01-2015|2024-09-27 13:41:36|      16.0|         M|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|    1|
|             421|     178|peppr_salami_l|       1|03-01-2015|2024-09-27 18:15:03|     20.75|         L|       Supreme|Genoa Salami, Cap...|The Pepper Salami...|    1|
|             818|     357|  southw_ckn_s|       1|06-01-2015|2024-09-27 18:27:58|     12.75|         S|       Chicken|Chicken, Tomatoes...|The Southwest Chi...|    1|
|             929|     405|    sicilian_l|       1|07-01-2015|2024-09-27 16:44:16|     20.25|         L|       Supreme|Coarse Sicilian S...|  The Sicilian Pizza|    1|
|            1163|     510| classic_dlx_s|       1|09-01-2015|2024-09-27 12:15:03|      12.0|         S|       Classic|Pepperoni, Mushro...|The Classic Delux...|    1|
|            1197|     524|    thai_ckn_m|       1|09-01-2015|2024-09-27 14:51:35|     16.75|         M|       Chicken|Chicken, Pineappl...|The Thai Chicken ...|    1|
|            1316|     583|   ital_supr_l|       1|10-01-2015|2024-09-27 14:33:19|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|    1|
|            1503|     668|    mexicana_l|       1|11-01-2015|2024-09-27 18:13:12|     20.25|         L|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|    1|
|            1628|     725|  the_greek_xl|       1|12-01-2015|2024-09-27 18:33:14|      25.5|        XL|       Classic|Kalamata Olives, ...|     The Greek Pizza|    1|
|            1851|     822|  the_greek_xl|       1|14-01-2015|2024-09-27 17:38:53|      25.5|        XL|       Classic|Kalamata Olives, ...|     The Greek Pizza|    1|
|            2106|     938|peppr_salami_l|       1|16-01-2015|2024-09-27 16:43:09|     20.75|         L|       Supreme|Genoa Salami, Cap...|The Pepper Salami...|    1|
|            2415|    1073|  spin_pesto_m|       1|18-01-2015|2024-09-27 18:42:02|      16.5|         M|        Veggie|Spinach, Artichok...|The Spinach Pesto...|    1|
|            2462|    1093|   ital_supr_m|       1|19-01-2015|2024-09-27 12:33:24|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|    1|
|            2542|    1126|  southw_ckn_s|       1|19-01-2015|2024-09-27 18:48:46|     12.75|         S|       Chicken|Chicken, Tomatoes...|The Southwest Chi...|    1|
|            2798|    1237|    sicilian_s|       1|21-01-2015|2024-09-27 18:10:40|     12.25|         S|       Supreme|Coarse Sicilian S...|  The Sicilian Pizza|    1|
+----------------+--------+--------------+--------+----------+-------------------+----------+----------+--------------+--------------------+--------------------+-----+
only showing top 20 rows

No Duplicates in my dataset

In [ ]:
df_duplicates.filter("count > 1").count()

0

In [ ]:
df.select('order_time').show()

+-------------------+
|         order_time|
+-------------------+
|2024-09-27 11:38:36|
|2024-09-27 11:57:40|
|2024-09-27 11:57:40|
|2024-09-27 11:57:40|
|2024-09-27 11:57:40|
|2024-09-27 11:57:40|
|2024-09-27 12:12:28|
|2024-09-27 12:12:28|
|2024-09-27 12:16:31|
|2024-09-27 12:21:30|
|2024-09-27 12:29:36|
|2024-09-27 12:29:36|
|2024-09-27 12:50:37|
|2024-09-27 12:51:37|
|2024-09-27 12:52:01|
|2024-09-27 12:52:01|
|2024-09-27 12:52:01|
|2024-09-27 12:52:01|
|2024-09-27 12:52:01|
|2024-09-27 12:52:01|
+-------------------+
only showing top 20 rows

Delete unwanted values ​​in data time column


**date_format** function formats the order_time column to show only the time in the format HH:mm:ss, effectively removing the date portion.

In [ ]:
from pyspark.sql.functions import date_format
df = df.withColumn("order_time", date_format("order_time", "HH:mm:ss"))

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+--------------------+
|order_details_id|order_id|      pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|   pizza_ingredients|          pizza_name|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+--------------------+
|               1|       1|    hawaiian_m|       1|01-01-2015|  11:38:36|     13.25|         M|       Classic|Sliced Ham, Pinea...|  The Hawaiian Pizza|
|               2|       2| classic_dlx_m|       1|01-01-2015|  11:57:40|      16.0|         M|       Classic|Pepperoni, Mushro...|The Classic Delux...|
|               3|       2| five_cheese_l|       1|01-01-2015|  11:57:40|      18.5|         L|        Veggie|Mozzarella Cheese...|The Five Cheese P...|
|               4|       2|   ital_supr_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|
|               5|       2|    mexicana_m|       1|01-01-2015|  11:57:40|      16.0|         M|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|
|               6|       2|    thai_ckn_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Chicken|Chicken, Pineappl...|The Thai Chicken ...|
|               7|       3|   ital_supr_m|       1|01-01-2015|  12:12:28|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|               8|       3|  prsc_argla_l|       1|01-01-2015|  12:12:28|     20.75|         L|       Supreme|Prosciutto di San...|The Prosciutto an...|
|               9|       4|   ital_supr_m|       1|01-01-2015|  12:16:31|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              10|       5|   ital_supr_m|       1|01-01-2015|  12:21:30|      16.5|         M|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              11|       6|     bbq_ckn_s|       1|01-01-2015|  12:29:36|     12.75|         S|       Chicken|Barbecued Chicken...|The Barbecue Chic...|
|              12|       6|   the_greek_s|       1|01-01-2015|  12:29:36|      12.0|         S|       Classic|Kalamata Olives, ...|     The Greek Pizza|
|              13|       7|spinach_supr_s|       1|01-01-2015|  12:50:37|      12.5|         S|       Supreme|Spinach, Red Onio...|The Spinach Supre...|
|              14|       8|spinach_supr_s|       1|01-01-2015|  12:51:37|      12.5|         S|       Supreme|Spinach, Red Onio...|The Spinach Supre...|
|              15|       9| classic_dlx_s|       1|01-01-2015|  12:52:01|      12.0|         S|       Classic|Pepperoni, Mushro...|The Classic Delux...|
|              16|       9|green_garden_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|Spinach, Mushroom...|The Green Garden ...|
|              17|       9| ital_cpcllo_l|       1|01-01-2015|  12:52:01|      20.5|         L|       Classic|Capocollo, Red Pe...|The Italian Capoc...|
|              18|       9|   ital_supr_l|       1|01-01-2015|  12:52:01|     20.75|         L|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              19|       9|   ital_supr_s|       1|01-01-2015|  12:52:01|      12.5|         S|       Supreme|Calabrese Salami,...|The Italian Supre...|
|              20|       9|    mexicana_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|Tomatoes, Red Pep...|  The Mexicana Pizza|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
drop_name=['pizza_ingredients']

In [ ]:
df = df.drop(*drop_name)

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+
|order_details_id|order_id|      pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|          pizza_name|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+
|               1|       1|    hawaiian_m|       1|01-01-2015|  11:38:36|     13.25|         M|       Classic|  The Hawaiian Pizza|
|               2|       2| classic_dlx_m|       1|01-01-2015|  11:57:40|      16.0|         M|       Classic|The Classic Delux...|
|               3|       2| five_cheese_l|       1|01-01-2015|  11:57:40|      18.5|         L|        Veggie|The Five Cheese P...|
|               4|       2|   ital_supr_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Supreme|The Italian Supre...|
|               5|       2|    mexicana_m|       1|01-01-2015|  11:57:40|      16.0|         M|        Veggie|  The Mexicana Pizza|
|               6|       2|    thai_ckn_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Chicken|The Thai Chicken ...|
|               7|       3|   ital_supr_m|       1|01-01-2015|  12:12:28|      16.5|         M|       Supreme|The Italian Supre...|
|               8|       3|  prsc_argla_l|       1|01-01-2015|  12:12:28|     20.75|         L|       Supreme|The Prosciutto an...|
|               9|       4|   ital_supr_m|       1|01-01-2015|  12:16:31|      16.5|         M|       Supreme|The Italian Supre...|
|              10|       5|   ital_supr_m|       1|01-01-2015|  12:21:30|      16.5|         M|       Supreme|The Italian Supre...|
|              11|       6|     bbq_ckn_s|       1|01-01-2015|  12:29:36|     12.75|         S|       Chicken|The Barbecue Chic...|
|              12|       6|   the_greek_s|       1|01-01-2015|  12:29:36|      12.0|         S|       Classic|     The Greek Pizza|
|              13|       7|spinach_supr_s|       1|01-01-2015|  12:50:37|      12.5|         S|       Supreme|The Spinach Supre...|
|              14|       8|spinach_supr_s|       1|01-01-2015|  12:51:37|      12.5|         S|       Supreme|The Spinach Supre...|
|              15|       9| classic_dlx_s|       1|01-01-2015|  12:52:01|      12.0|         S|       Classic|The Classic Delux...|
|              16|       9|green_garden_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|The Green Garden ...|
|              17|       9| ital_cpcllo_l|       1|01-01-2015|  12:52:01|      20.5|         L|       Classic|The Italian Capoc...|
|              18|       9|   ital_supr_l|       1|01-01-2015|  12:52:01|     20.75|         L|       Supreme|The Italian Supre...|
|              19|       9|   ital_supr_s|       1|01-01-2015|  12:52:01|      12.5|         S|       Supreme|The Italian Supre...|
|              20|       9|    mexicana_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|  The Mexicana Pizza|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+
only showing top 20 rows

convert the price column from USD to INR

**withColumn** function is used to create a new column or update an existing column in a DataFrame. It allows you to add, modify, or transform a column in a flexible manner.

In [ ]:
# TODAY 1 USD = 83.62 INR
usd_rate = 83.62
df = df.withColumn("price_in_INR", col("unit_price") * usd_rate)

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+
|order_details_id|order_id|      pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|          pizza_name|      price_in_INR|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+
|               1|       1|    hawaiian_m|       1|01-01-2015|  11:38:36|     13.25|         M|       Classic|  The Hawaiian Pizza|1107.9650000000001|
|               2|       2| classic_dlx_m|       1|01-01-2015|  11:57:40|      16.0|         M|       Classic|The Classic Delux...|           1337.92|
|               3|       2| five_cheese_l|       1|01-01-2015|  11:57:40|      18.5|         L|        Veggie|The Five Cheese P...|           1546.97|
|               4|       2|   ital_supr_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|
|               5|       2|    mexicana_m|       1|01-01-2015|  11:57:40|      16.0|         M|        Veggie|  The Mexicana Pizza|           1337.92|
|               6|       2|    thai_ckn_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Chicken|The Thai Chicken ...|          1735.115|
|               7|       3|   ital_supr_m|       1|01-01-2015|  12:12:28|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|
|               8|       3|  prsc_argla_l|       1|01-01-2015|  12:12:28|     20.75|         L|       Supreme|The Prosciutto an...|          1735.115|
|               9|       4|   ital_supr_m|       1|01-01-2015|  12:16:31|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|
|              10|       5|   ital_supr_m|       1|01-01-2015|  12:21:30|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|
|              11|       6|     bbq_ckn_s|       1|01-01-2015|  12:29:36|     12.75|         S|       Chicken|The Barbecue Chic...|          1066.155|
|              12|       6|   the_greek_s|       1|01-01-2015|  12:29:36|      12.0|         S|       Classic|     The Greek Pizza|           1003.44|
|              13|       7|spinach_supr_s|       1|01-01-2015|  12:50:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|
|              14|       8|spinach_supr_s|       1|01-01-2015|  12:51:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|
|              15|       9| classic_dlx_s|       1|01-01-2015|  12:52:01|      12.0|         S|       Classic|The Classic Delux...|           1003.44|
|              16|       9|green_garden_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|The Green Garden ...|           1003.44|
|              17|       9| ital_cpcllo_l|       1|01-01-2015|  12:52:01|      20.5|         L|       Classic|The Italian Capoc...|           1714.21|
|              18|       9|   ital_supr_l|       1|01-01-2015|  12:52:01|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|
|              19|       9|   ital_supr_s|       1|01-01-2015|  12:52:01|      12.5|         S|       Supreme|The Italian Supre...|           1045.25|
|              20|       9|    mexicana_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|  The Mexicana Pizza|           1003.44|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+
only showing top 20 rows

add new Total_price column calculate unit_price * quantity

In [ ]:
df = df.withColumn("Total_price", col("price_in_INR") * col("quantity"))

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+
|order_details_id|order_id|      pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|          pizza_name|      price_in_INR|       Total_price|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+
|               1|       1|    hawaiian_m|       1|01-01-2015|  11:38:36|     13.25|         M|       Classic|  The Hawaiian Pizza|1107.9650000000001|1107.9650000000001|
|               2|       2| classic_dlx_m|       1|01-01-2015|  11:57:40|      16.0|         M|       Classic|The Classic Delux...|           1337.92|           1337.92|
|               3|       2| five_cheese_l|       1|01-01-2015|  11:57:40|      18.5|         L|        Veggie|The Five Cheese P...|           1546.97|           1546.97|
|               4|       2|   ital_supr_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|          1735.115|
|               5|       2|    mexicana_m|       1|01-01-2015|  11:57:40|      16.0|         M|        Veggie|  The Mexicana Pizza|           1337.92|           1337.92|
|               6|       2|    thai_ckn_l|       1|01-01-2015|  11:57:40|     20.75|         L|       Chicken|The Thai Chicken ...|          1735.115|          1735.115|
|               7|       3|   ital_supr_m|       1|01-01-2015|  12:12:28|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|
|               8|       3|  prsc_argla_l|       1|01-01-2015|  12:12:28|     20.75|         L|       Supreme|The Prosciutto an...|          1735.115|          1735.115|
|               9|       4|   ital_supr_m|       1|01-01-2015|  12:16:31|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|
|              10|       5|   ital_supr_m|       1|01-01-2015|  12:21:30|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|
|              11|       6|     bbq_ckn_s|       1|01-01-2015|  12:29:36|     12.75|         S|       Chicken|The Barbecue Chic...|          1066.155|          1066.155|
|              12|       6|   the_greek_s|       1|01-01-2015|  12:29:36|      12.0|         S|       Classic|     The Greek Pizza|           1003.44|           1003.44|
|              13|       7|spinach_supr_s|       1|01-01-2015|  12:50:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|           1045.25|
|              14|       8|spinach_supr_s|       1|01-01-2015|  12:51:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|           1045.25|
|              15|       9| classic_dlx_s|       1|01-01-2015|  12:52:01|      12.0|         S|       Classic|The Classic Delux...|           1003.44|           1003.44|
|              16|       9|green_garden_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|The Green Garden ...|           1003.44|           1003.44|
|              17|       9| ital_cpcllo_l|       1|01-01-2015|  12:52:01|      20.5|         L|       Classic|The Italian Capoc...|           1714.21|           1714.21|
|              18|       9|   ital_supr_l|       1|01-01-2015|  12:52:01|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|          1735.115|
|              19|       9|   ital_supr_s|       1|01-01-2015|  12:52:01|      12.5|         S|       Supreme|The Italian Supre...|           1045.25|           1045.25|
|              20|       9|    mexicana_s|       1|01-01-2015|  12:52:01|      12.0|         S|        Veggie|  The Mexicana Pizza|           1003.44|           1003.44|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+
only showing top 20 rows

convert string to DateType use to_date function

In [ ]:
from pyspark.sql.functions import to_date
df = df.withColumn("order_date", to_date("order_date", "dd-MM-yyyy"))

In [ ]:
df.dtypes

[('order_details_id', 'int'),
 ('order_id', 'int'),
 ('pizza_id', 'string'),
 ('quantity', 'int'),
 ('order_date', 'date'),
 ('order_time', 'string'),
 ('unit_price', 'double'),
 ('pizza_size', 'string'),
 ('pizza_category', 'string'),
 ('pizza_name', 'string'),
 ('price_in_INR', 'double'),
 ('Total_price', 'double')]

add a new month_name column based on order_date

In [ ]:
df = df.withColumn("month_name", date_format("order_date", "MMMM"))

In [ ]:
df.show()

+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+----------+
|order_details_id|order_id|      pizza_id|quantity|order_date|order_time|unit_price|pizza_size|pizza_category|          pizza_name|      price_in_INR|       Total_price|month_name|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+----------+
|               1|       1|    hawaiian_m|       1|2015-01-01|  11:38:36|     13.25|         M|       Classic|  The Hawaiian Pizza|1107.9650000000001|1107.9650000000001|   January|
|               2|       2| classic_dlx_m|       1|2015-01-01|  11:57:40|      16.0|         M|       Classic|The Classic Delux...|           1337.92|           1337.92|   January|
|               3|       2| five_cheese_l|       1|2015-01-01|  11:57:40|      18.5|         L|        Veggie|The Five Cheese P...|           1546.97|           1546.97|   January|
|               4|       2|   ital_supr_l|       1|2015-01-01|  11:57:40|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|          1735.115|   January|
|               5|       2|    mexicana_m|       1|2015-01-01|  11:57:40|      16.0|         M|        Veggie|  The Mexicana Pizza|           1337.92|           1337.92|   January|
|               6|       2|    thai_ckn_l|       1|2015-01-01|  11:57:40|     20.75|         L|       Chicken|The Thai Chicken ...|          1735.115|          1735.115|   January|
|               7|       3|   ital_supr_m|       1|2015-01-01|  12:12:28|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|   January|
|               8|       3|  prsc_argla_l|       1|2015-01-01|  12:12:28|     20.75|         L|       Supreme|The Prosciutto an...|          1735.115|          1735.115|   January|
|               9|       4|   ital_supr_m|       1|2015-01-01|  12:16:31|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|   January|
|              10|       5|   ital_supr_m|       1|2015-01-01|  12:21:30|      16.5|         M|       Supreme|The Italian Supre...|           1379.73|           1379.73|   January|
|              11|       6|     bbq_ckn_s|       1|2015-01-01|  12:29:36|     12.75|         S|       Chicken|The Barbecue Chic...|          1066.155|          1066.155|   January|
|              12|       6|   the_greek_s|       1|2015-01-01|  12:29:36|      12.0|         S|       Classic|     The Greek Pizza|           1003.44|           1003.44|   January|
|              13|       7|spinach_supr_s|       1|2015-01-01|  12:50:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|           1045.25|   January|
|              14|       8|spinach_supr_s|       1|2015-01-01|  12:51:37|      12.5|         S|       Supreme|The Spinach Supre...|           1045.25|           1045.25|   January|
|              15|       9| classic_dlx_s|       1|2015-01-01|  12:52:01|      12.0|         S|       Classic|The Classic Delux...|           1003.44|           1003.44|   January|
|              16|       9|green_garden_s|       1|2015-01-01|  12:52:01|      12.0|         S|        Veggie|The Green Garden ...|           1003.44|           1003.44|   January|
|              17|       9| ital_cpcllo_l|       1|2015-01-01|  12:52:01|      20.5|         L|       Classic|The Italian Capoc...|           1714.21|           1714.21|   January|
|              18|       9|   ital_supr_l|       1|2015-01-01|  12:52:01|     20.75|         L|       Supreme|The Italian Supre...|          1735.115|          1735.115|   January|
|              19|       9|   ital_supr_s|       1|2015-01-01|  12:52:01|      12.5|         S|       Supreme|The Italian Supre...|           1045.25|           1045.25|   January|
|              20|       9|    mexicana_s|       1|2015-01-01|  12:52:01|      12.0|         S|        Veggie|  The Mexicana Pizza|           1003.44|           1003.44|   January|
+----------------+--------+--------------+--------+----------+----------+----------+----------+--------------+--------------------+------------------+------------------+----------+
only showing top 20 rows

In [ ]:
df.tail(1)

[Row(order_details_id=48620, order_id=21350, pizza_id='bbq_ckn_s', quantity=1, order_date=datetime.date(2015, 12, 31), order_time='23:02:05', unit_price=12.75, pizza_size='S', pizza_category='Chicken', pizza_name='The Barbecue Chicken Pizza', price_in_INR=1066.155, Total_price=1066.155, month_name='December')]

save clean_df file using visualization

In [ ]:
clean_df = df.toPandas()

In [ ]:
clean_df.to_csv("clean_data.csv", index=False)